/* Стили для логотипа */
.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px; /* Задайте ширину и высоту логотипа по вашему выбору */
    height: auto;
}

/* Стили для заголовка */
h1 {
    font-size: 24px;
    color: #333; /* Цвет текста заголовка */
}

/* Стили для списка приложений */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007bff; /* Цвет ссылок */
}

a:hover {
    text-decoration: underline;
    color: #0056b3; /* Цвет ссылок при наведении */
}


